{% extends 'base.html' %}
{% block content %}
<section class="main_form">
    <div class="container">
        <div class="row">
              <div class="col-lg-5 col-md-6 col-sm-8 mx-auto">    
                  <div class="row form">
                      {% include 'components/alerts.html' %}
                      <form method='POST'>
                          {% csrf_token %}
                          <h3>Create Task</h3>
                          {{form.as_p}}
                          <button type="submit" class="main_btn">CREATE TASK</button>
                      </form>
                  </div>
              </div>
       </div>
    </div>
</section>
{% endblock content %}